{% extends "base.html" %}
{% block title %}Sobre | Processador de Áudio e Vídeo{% endblock %}
{% block content %}
<div class="central-box" style="max-width: 340px; text-align: left; margin-top: 40px;">
    <div style="font-weight: bold;">Processador de Áudio e Vídeo</div>
    <div>Desenvolvido por Allyson Almeida Sirvano</div>
    <div>Sob a supervisão de Mauricio Menon</div>
    <div>Data: Junho/2025</div>
    <div>
        <a href="https://github.com/allysonalmeidaa" target="_blank" style="color: #82b6db; text-decoration: underline; font-size: 1em;">
            GitHub do autor
        </a>
    </div>
</div>
{% endblock %}